body {
   background: #ffcc00; 
}
h1 {
color: purple;

    background-color: lightpink;
    text-align: right;
}


@media only screen and (max-width: 600px) {
    body {
        background: blue;
    }
}